h1 {
    color: #3a241d;
    text-align: center
}

body {
    font-family: helvetica, arial, sans-serif
}

#page {
    /* height: 100%; */
    display: grid;
    grid-template-columns: [first] 20% [line2] auto [line3] 20% [end];
    grid-template-rows: auto;
    grid-template-areas: "left-container terraium right-container";
		column-gap: 10px;
}


#left-container {
    grid-area: left-container;
    background-color: #eee;
}
#right-container {
    grid-area: right-container;
    background-color: #eee;
}

.plant-holder {
    height: 13%;
    left: -10px;
}

.plant {
    /* position: absolute; */
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}

#terrarium {
	grid-area: terraium;
	display: grid;
	grid-template-rows: repeat(20, 1fr);
	grid-template-columns: repeat(10, 1fr);
	/* grid-template-areas: 
    ". jar-top jar-top ."
    "jar-walls jar-walls jar-walls jar-walls"
    ". jar-bottom jar-bottom ."
    ". jar-dirt jar-dirt ."; */

}

.jar-top {
	height: 50%;
	grid-column: 2 / span 8;
	grid-row: 1 / 2;
	align-self: end;
	background: #d1e1df;
	opacity: 0.7;
	z-index: 1;
}

.jar-walls {
	grid-column: 1 / 11;
	grid-row: 2 / 10;
	background: #d1e1df;
	border-radius: 1rem;
	opacity: 0.5;
	z-index: 1;
}


.jar-bottom {
	height: 20%;
	grid-column: 2 / span 8;
	grid-row: 10 / 11;
    background: #d1e1df;
    /* position: absolute; */
    opacity: 0.7;
}

.dirt {
	height: 50%;
	grid-column: 1 / -1;
	grid-row: 9;
	align-self: end;
  background: #3a241d;
  /* position: absolute; */
  border-radius: 0 0 1rem 1rem;
  opacity: 1;
  z-index: -1;
}

.jar-glossy-long {
  background: rgb(241,253,255);
  width: 3%;
  height: 20%;
  position: relative;
  top: 55%;
  left:25px;
  border-radius: 1rem;
}

.jar-glossy-short {
  background: rgb(241,253,255);
  width: 3%;
  height: 5%;
  position: relative;
  top: 25%;
  left:25px;
  border-radius: 1rem;
}
